<resources>
    <string name="app_name">07-Authorization</string>
    <string name="username">Username: </string>
    <string name="useremail">Email: </string>
    <string name="country">Country: </string>
    <string name="app_settings">APP SETTINGS</string>
    <string name="settings_message">If you reached this page, means that you\'re an admin.</string>
    <string name="logout">Logout</string>

    <string name="auth0_client_id">{CLIENT_ID}</string>
    <string name="auth0_domain">{DOMAIN}</string>
</resources>
