<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.auth0.passwordless.sms" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.auth0.passwordless.sms.MyApplication"
        >
        <activity
            android:name="com.auth0.passwordless.sms.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.auth0.passwordless.sms.RequestActivity"
            android:label="@string/title_activity_request" >
        </activity>

        <meta-data android:name="com.auth0.lock.client-id" android:value="@string/auth0_client_id"/>
        <meta-data android:name="com.auth0.lock.domain-url" android:value="@string/auth0_domain"/>

        <!--Auth0 Lock-->
        <activity
            android:name="com.auth0.lock.email.LockSMSActivity"
            android:theme="@style/Lock.Theme"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity android:name="com.auth0.lock.sms.CountryCodeActivity" android:theme="@style/Lock.Theme"/>
        <!--Auth0 Lock End-->
    </application>

</manifest>
