<resources>
    <string name="app_name">06-Rules</string>
    <string name="username">Username: </string>
    <string name="email">Email: </string>
    <string name="country">Country: </string>
    <string name="logout">Logout</string>

    <string name="auth0_client_id">{CLIENT_ID}</string>
    <string name="auth0_domain">{DOMAIN}</string>
</resources>
