<resources>
    <string name="app_name">Linking Accounts</string>
    <string name="userEmail">Email: %1$s</string>
    <string name="linked_accounts">Linked Accounts:</string>
    <string name="link_account">Add Account</string>
    <string name="unlink_account">Unlink Account?</string>
    <string name="yes">Yes</string>
    <string name="no">No</string>
    <string name="login_again">Login Again</string>
    <string name="login">Login</string>
    <string name="request_credentials_title">Authenticate to continue</string>

    <string name="com_auth0_client_id">{CLIENT_ID}</string>
    <string name="com_auth0_domain">{DOMAIN}</string>
</resources>
