<resources>
    <string name="app_name">Linking Accounts</string>
    <string name="userEmail">Email: %1$s</string>
    <string name="linked_accounts">Linked Accounts:</string>
    <string name="link_account">Add Account</string>
    <string name="unlink_account">Unlink Account?</string>
    <string name="yes">Yes</string>
    <string name="no">No</string>
    <string name="login_again">Log In Again</string>
    <string name="login">Log In</string>

    <string name="auth0_client_id">Owu62gnGsRYhk1v9SfB3c6IUbIJcRIze</string>
    <string name="auth0_domain">lbalmaceda.auth0.com</string>
</resources>
