<resources>
    <string name="app_name">Session Management</string>
    <string name="refresh">Refresh the access_token</string>
    <string name="login">Log in</string>
    <string name="logout">Log out</string>
    <string name="request_credentials_title">Authenticate to continue</string>

    <string name="com_auth0_client_id">{CLIENT_ID}</string>
    <string name="com_auth0_domain">{DOMAIN}</string>
</resources>
