<resources>
    <string name="app_name">03 - Session Management</string>
    <string name="refresh">Get New ID With a RefreshToken</string>
    <string name="logout">Logout</string>

    <string name="auth0_client_id">{CLIENT_ID}</string>
    <string name="auth0_domain">{DOMAIN}</string>
</resources>
