<resources>
    <string name="app_name">User Profile</string>
    <string name="username">Name: %1$s</string>
    <string name="useremail">Email: %1$s</string>
    <string name="userCountry">Country: %1$s</string>
    <string name="edit_hint">Add the country…</string>
    <string name="edit">Edit Profile</string>
    <string name="save">Save Changes</string>
    <string name="cancel">Cancel Changes</string>
    <string name="login_again">Login Again</string>
    <string name="login">Log in</string>
    <string name="request_credentials_title">Authenticate to continue</string>

    <string name="com_auth0_client_id">{CLIENT_ID}</string>
    <string name="com_auth0_domain">{DOMAIN}</string>
</resources>
