<resources>
    <string name="app_name">Calling APIs</string>
    <string name="login">Log in</string>
    <string name="callAPIWithToken">Call API with Token</string>
    <string name="callAPIWithoutToken">Call API without Token</string>

    <string name="com_auth0_client_id">{CLIENT_ID}</string>
    <string name="com_auth0_domain">{DOMAIN}</string>
</resources>
