<resources>
    <string name="app_name">Embedded Login</string>
    <string name="welcome_message">Welcome To Your App</string>
    <string name="login_again">Log In Again</string>

    <string name="auth0_client_id">Owu62gnGsRYhk1v9SfB3c6IUbIJcRIze</string>
    <string name="auth0_domain">lbalmaceda.auth0.com</string>
</resources>
